.grid {
  border: solid 1px #e7e7e7;
}

.grid__row {
  display: flex;
}

.grid__item {
  flex: 1;
  padding: 12px;
  margin: 2px;
  border: solid 1px #474747;

  max-width: 60px;
  max-height: 60px;
}

.character {
  position:absolute;
  left: 4vw;
  top: 4vw;
  z-index: 100;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;

  /*width: 0;*/
  /*height: 0;*/
  /*border-left: 50px solid transparent;*/
  /*border-right: 50px solid transparent;*/
  /*border-bottom: 25px solid red;*/
}

#vertical
{
  height: 5px;
  border-left: 1px solid black;
  position: absolute;
  top: -5px;
  left: 8px;
  z-index: 200;
}
